<main class="wrapper">
    <div class="justify-center flex my-10">
        <div class="text-3xl">WILLKOMMEN ZUHAUSE!</div>
    </div>
	<div class="card-row flex space-x-10 my-3">
		<mat-card *ngIf="isAdmin" [routerLink]="['/add-users']" class="card hover:bg-cyan-500 hover:ease-in-out duration-75 cursor-pointer">
			<mat-card-header>
				<mat-card-title>User Hinzufügen</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<p>
					Admins können in dieser Schaltfläche alle bisher angemeldeten Nutzer verwalten, neue Nutzer hinzufügen und bereits angelegte Nutzer löschen.
				</p>
			</mat-card-content>
			<mat-card-footer class="bg-cyan-500 h-3 mt-5"></mat-card-footer>
		</mat-card>
		<mat-card [routerLink]="['/list-users']" class="card hover:bg-emerald-500 hover:ease-in-out duration-75 cursor-pointer">
			<mat-card-header>
				<mat-card-title>Alle Nutzer ansehen</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<p>
					Alle bisher erstellten Nutzer einsehen.	
				</p>
			</mat-card-content>
			<mat-card-footer class="bg-emerald-500 h-3 bottom-0 absolute w-full"></mat-card-footer>
		</mat-card>
		<mat-card [routerLink]="['/']" class="card hover:bg-stone-300 hover:ease-in-out duration-75 cursor-pointer">
			<mat-card-header>
				<mat-card-title>Abmelden</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<p>
				Abmelden
				</p>
			</mat-card-content>
			<mat-card-footer class="bg-stone-300 h-3 bottom-0 absolute w-full"></mat-card-footer>
		</mat-card>
	</div>

	{{isLoggedIn$}}
</main>