<main class="wrapper">
    <div class="justify-center flex my-10">
        <div class="text-3xl">Benutzerverwaltung</div>
    </div>
    <div class="flex items-center flex-col justify-center">
        <div class="flex flex-col justify-center w-80">
            <form [formGroup]="addUserForm" class="flex flex-col">

                <!-- DEBUG <div>Value: {{addUserForm.value | json }}</div> -->

                <mat-form-field>
                    <mat-label>Neuer Benutzername</mat-label>
                    <input matInput formControlName="username" required>
                    <mat-error *ngIf="username && username.invalid && username.touched">Bitte gib mehr als 3 Zeichen ein.</mat-error>
                </mat-form-field>


                <mat-form-field>
                    <mat-label>Neues Passwort</mat-label>
                    <input matInput placeholder="password" formControlName="password" required>
                    <mat-error *ngIf="password && password.invalid && password.touched">Bitte gib mehr als 3 Zeichen ein.</mat-error>
                </mat-form-field>

				<mat-form-field>
					<mat-label>Neue Rolle</mat-label>
					<mat-select [formControl]="roles">
						@for (role of roleList; track role) {
					  <mat-option [value]="role">{{role}}</mat-option>
					}
					  </mat-select>
				</mat-form-field>

                <button mat-raised-button type="button" (click)="addUser()" [disabled]="addUserForm.invalid">Nutzer
                    hinzufügen</button>


            </form>


        </div>
		<div class="button-row flex items-center justify-center mt-20">
			<button mat-raised-button color="primary" [routerLink]="['/home']" class="mx-4">Home</button>
			<button mat-raised-button color="primary" [routerLink]="['/list-users']" class="mx-4">Alle Nutzer anzeigen</button>
			<button mat-raised-button [routerLink]="['/']" class="mx-4">Abmelden</button>
		</div>
    </div>

</main>